apiVersion: v1
kind: ConfigMap
metadata:
  name: backend-config
  namespace: backend
  labels:
    app: backend
data:
  DB_HOST: "my-postgresql.default.svc.cluster.local"
  DB_PORT: "5432"
  DB_NAME: "myapp_db"
  DB_USER: "myapp_user"
  PORT: "8000"